<!-- Barra superior con íconos de contacto y redes sociales -->
<div class="container-fluid">
  <div class="row top-bar">
    <div class="col-12 col-md-6 contact-icons">
      <i class="fas fa-map-marker-alt" data-tooltip="Valle del Elqui 1974"></i>
      <i class="fas fa-envelope" data-tooltip="elpandacomida@gmail.com"></i>
      <i class="fas fa-clock" data-tooltip="Horario de lunes a viernes de 8:30 a 17:00 Hrs"></i>
      <i class="fas fa-phone" data-tooltip="225647675"></i>
    </div>
    <div class="col-12 col-md-6 social-icons text-md-end">
      <a href="https://www.facebook.com/tu-pagina-de-facebook"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/tu-pagina-de-instagram"><i class="fab fa-instagram"></i></a>
      <a href="https://outlook.live.com"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</div>


<!-- Barra de navegación principal -->
<nav class="navbar navbar-expand-lg main-nav">
  <div class="container-fluid">
    <!-- Logo de la página -->
    <a class="navbar-brand logo" href="#">
      <img src="../imagenes/PATAPANDA.png" alt="Logo de la página">
    </a>

    <!-- Buscador de productos -->
    <div class="search-bar">
      <select id="search-category" name="category">
        <option value="all">Todo</option>
      </select>
      <input id="search-input" name="search" type="text" placeholder="Buscar...">
      <button id="search-button" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <!-- Opciones del usuario -->
    <div class="ms-auto d-flex align-items-center user-options">
      <!-- Saludo y opciones del Administrador -->
      <div *ngIf="adminUser" class="d-flex align-items-center">
        <button class="btn btn-danger me-2" [routerLink]="['/admin']">
          Hola, {{ adminUser }}
        </button>
        <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
      </div>

      <!-- Saludo y opciones del Usuario Regular -->
      <div *ngIf="!adminUser && username" class="d-flex align-items-center">
        <button class="btn btn-danger me-2" (click)="goToProfile()">
          Hola, {{ username }}
        </button>
        <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
      </div>

      <!-- Opción de Acceso/Registro si no hay sesión activa -->
      <div *ngIf="!adminUser && !username" class="d-flex align-items-center">
        <button class="btn btn-outline-primary me-2 login-btn" data-bs-toggle="modal" data-bs-target="#loginModal">
          Acceder / Registrarse
        </button>
      </div>

      <!-- Carrito de compras con hover -->
      <div class="cart-container position-relative">
        <a [routerLink]="['/carro']" id="cart-icon" class="btn btn-outline-secondary cart-btn position-relative">
          <i class="fas fa-shopping-cart"></i>
          <span class="cart-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cartCount }}
          </span>
        </a>
        <div id="cart-preview" class="cart-preview">
          <ul *ngIf="cartItems.length > 0">
            <li *ngFor="let item of cartItems" class="cart-item">
              <img [src]="item.image" alt="{{ item.name }}" class="cart-item-img">
              <div class="cart-item-details">
                <span class="cart-item-name">{{ item.name }}</span>
                <span class="cart-item-price">{{ item.price | currency }}</span>
                <span class="cart-item-quantity">Cantidad: {{ item.quantity }}</span>
              </div>
            </li>
          </ul>
          <div *ngIf="cartItems.length === 0" class="empty-cart-message">
            No hay productos en el carrito.
          </div>
          <div class="cart-total">
            <p>Subtotal (sin IVA): <strong>{{ cartTotal.sinIVA | currency }}</strong></p>
            <p>IVA (19%): <strong>{{ cartTotal.iva | currency }}</strong></p>
            <p>Total (con IVA): <strong>{{ cartTotal.conIVA | currency }}</strong></p>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Modal para inicio de sesión exitoso -->
<div class="modal fade" id="loginSuccessModal" tabindex="-1" aria-labelledby="loginSuccessModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginSuccessModalLabel">Inicio de Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        ¡Inicio de sesión como administrador exitoso!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de cierre de sesión -->
<div class="modal fade" id="logoutSuccessModal" tabindex="-1" aria-labelledby="logoutSuccessModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutSuccessModalLabel">Cierre de Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        ¡Has cerrado sesión exitosamente!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal de inicio de sesión -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión con Correo Electrónico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario de login -->
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <div class="mb-3">
            <label for="usernameInput" class="form-label">Correo Electrónico</label>
            <input 
              type="email" 
              class="form-control" 
              id="usernameInput" 
              formControlName="nombreUsuario"
              placeholder="Ingrese su correo electrónico" 
              required
            />
          </div>
          <div class="mb-3">
            <label for="passwordInput" class="form-label">Contraseña</label>
            <input 
              type="password" 
              class="form-control" 
              id="passwordInput" 
              formControlName="password"
              placeholder="Ingrese su contraseña" 
              required
            />
          </div>
          <button type="submit" class="btn btn-danger w-100">Iniciar sesión</button>
        </form>
        <div class="mt-3">
          <a href="#" class="d-block" data-bs-toggle="modal" data-bs-target="#recoverPasswordModal">Recuperar contraseña</a>
          <a href="/user" class="d-block">Crear cuenta nueva</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal de recuperación de contraseña -->
<div class="modal fade" id="recoverPasswordModal" tabindex="-1" aria-labelledby="recoverPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recoverPasswordModalLabel">Recuperar Contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="emailRecovery" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="emailRecovery" placeholder="Ingrese su correo">
          </div>
          <button type="submit" class="btn btn-danger w-100">Enviar enlace de recuperación</button>
        </form>
      </div>
    </div>
  </div>
</div>




<!-- Barra de categorías -->
<div class="container-fluid category-bar">
  <div class="row">
    <div class="col-12 col-md-2">
      <a href="#" class="category-link">Ofertas</a>
    </div>
    <div class="col-12 col-md-2 dropdown">
      <a
        href="#"
        class="category-link dropdown-toggle"
        id="perroDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="toggleDropdown('perroDropdown')"
      >
        Perro
      </a>
      <ul class="dropdown-menu" aria-labelledby="perroDropdown">
        <li><a class="dropdown-item" [routerLink]="['/perro/alimentos']">Alimentos</a></li>
        <li><a class="dropdown-item" [routerLink]="['/perro/juguetes']">Juguetes</a></li>
        <li><a class="dropdown-item" [routerLink]="['/perro/accesorios']">Accesorios</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-2 dropdown">
      <a
        href="#"
        class="category-link dropdown-toggle"
        id="gatoDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="toggleDropdown('gatoDropdown')"
      >
        Gato
      </a>
      <ul class="dropdown-menu" aria-labelledby="gatoDropdown">
        <li><a class="dropdown-item" [routerLink]="['/gato/alimentos']">Alimentos</a></li>
        <li><a class="dropdown-item" [routerLink]="['/gato/juguetes']">Juguetes</a></li>
        <li><a class="dropdown-item" [routerLink]="['/gato/accesorios']">Accesorios</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-2">
      <a href="#" class="category-link">Marcas</a>
    </div>
    <div class="col-12 col-md-4 text-md-end">
      <a [routerLink]="['/seg-pedido']" class="category-link"
        ><i class="fas fa-truck"></i> Sigue tu pedido</a
      >
    </div>
    <button class="btn btn-secondary" [routerLink]="['/lista-personas']">
      Ver Lista de Personas
    </button>
  </div>
</div>

<!-- Contenido principal -->
<div class="container mt-4">
  <!-- Mensaje de bienvenida personalizado -->
  <div *ngIf="isLoggedIn">
    <h3>Bienvenido de nuevo, {{ username }}!</h3>
    <p>Explora nuestras ofertas exclusivas para ti.</p>
  </div>
  <!-- Mensaje para usuarios no registrados -->
  <div *ngIf="!isLoggedIn">
    <h3>¡Bienvenido a nuestra tienda!</h3>
    <p>Por favor, inicia sesión para disfrutar de una experiencia personalizada.</p>
  </div>
</div>


<!-- Primer Carrusel Automático -->
<div id="auto-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#auto-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#auto-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#auto-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../imagenes/1_IMAGENCARRUSEL.png" class="d-block" alt="Imagen 1">
    </div>
    <div class="carousel-item">
      <img src="../imagenes/perros-alimentospng.webp" class="d-block" alt="Imagen 2">
    </div>
    <div class="carousel-item">
      <img src="../imagenes/gato-comiendo.jpg" class="d-block" alt="Imagen 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#auto-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#auto-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>


<div class="container-fluid mt-5 position-relative">
  <!-- Flecha izquierda -->
  <button class="carousel-arrow left-arrow" (click)="scrollCarousel('left')">
    <i class="fas fa-chevron-left"></i>
  </button>

  <!-- Contenedor del grid de productos -->
  <div class="product-grid-container" id="product-carousel">

    <!-- Primer producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/FitAdulto.jpg" class="product-img" alt="Fit Formula Adulto 20 kg">
      <div class="product-info">
        <h3>Fit Formula Adulto 20 kg</h3>
        <p>Alimento para perros</p>
        <p class="old-price">{{ 50000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 45000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart" 
          (click)="addToCart({id: 1, name: 'Fit Formula Adulto 20 kg', price: 45000, image: '/imagenes/FitAdulto.jpg'})">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Segundo producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/Gati15kg.jpg" class="product-img" alt="Cat Chow Adulto 10 kg">
      <div class="product-info">
        <h3>Cat Chow Adulto 10 kg</h3>
        <p>Alimento para gatos</p>
        <p class="old-price">{{ 30000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 25000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart" 
          (click)="addToCart({id: 2, name: 'Cat Chow Adulto 10 kg', price: 25000, image: '/imagenes/Gati15kg.jpg'})">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Tercer producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/Gaucho15kg.jpg" class="product-img" alt="Gaucho 15kg">
      <div class="product-info">
        <h3>Gaucho 15kg</h3>
        <p>Alimento para gatos</p>
        <p class="old-price">{{ 50000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 35000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart" 
          (click)="addToCart({id: 3, name: 'Gaucho 15kg', price: 35000, image: '/imagenes/Gaucho15kg.jpg'})">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Cuarto producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/RazaGato10kg.jpg" class="product-img" alt="Raza Gatos 15kg">
      <div class="product-info">
        <h3>Raza Gatos 15kg</h3>
        <p>Alimento para gatos</p>
        <p class="old-price">{{ 30000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 25000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart" 
          (click)="addToCart({id: 4, name: 'Raza Gatos 15kg', price: 25000, image: '/imagenes/RazaGato10kg.jpg'})">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Quinto producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/Alimento-Perro-Cachorro-Champion-Dog-Carne-Pollo-y-Leche-3kg.png" class="product-img" alt="Master Dog Cachorros 15kg">
      <div class="product-info">
        <h3>Master Dog Cachorros 15kg</h3>
        <p>Alimento para perros</p>
        <p class="old-price">{{ 30000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 25000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart" 
          (click)="addToCart({id: 5, name: 'Master Dog Cachorros 15kg', price: 25000, image: '/imagenes/Alimento-Perro-Cachorro-Champion-Dog-Carne-Pollo-y-Leche-3kg.png'})">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Sexto producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/alimento_doko_carne_pollo.webp" class="product-img" alt="Doko Carne y Pollo 15kg">
      <div class="product-info">
        <h3>Doko Carne y Pollo 15kg</h3>
        <p>Alimento para perros</p>
        <p class="old-price">{{ 30000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 25000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Séptimo producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/alimento_cannes_carne_cereales.webp" class="product-img" alt="Cannes Carne y Cereales 15kg">
      <div class="product-info">
        <h3>Cannes Carne y Cereales 15kg</h3>
        <p>Alimento para perros</p>
        <p class="old-price">{{ 30000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 25000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Octavo producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/alimento_cachupin_adulto.webp" class="product-img" alt="Cachupin Carne 15kg">
      <div class="product-info">
        <h3>Cachupin Carne 15kg</h3>
        <p>Alimento para perros</p>
        <p class="old-price">{{ 30000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 25000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Noveno producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/Alimento-Perro-Adulto-Pedigree-High-Protein-Carne-y-Pollo-7.2-kg.webp" class="product-img" alt="Royal Canin Puppy 12kg">
      <div class="product-info">
        <h3>Alimento-Perro-Adulto-Pedigree-High-Protein-Carne-y-Pollo-7.2-kg</h3>
        <p>Alimento para perros</p>
        <p class="old-price">{{ 90000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 85000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>

    <!-- Décimo producto -->
    <div class="product-carousel-item">
      <img src="/imagenes/Alimento-Perro-Cachorro-Champion-Dog-Carne-Pollo-y-Leche-3kg.png" class="product-img" alt="Nutra Nuggets Adult 15kg">
      <div class="product-info">
        <h3>Alimento-Perro-Cachorro-Champion-Dog-Carne-Pollo-y-Leche-3kg</h3>
        <p>Alimento para perros</p>
        <p class="old-price">{{ 70000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <p class="price">{{ 65000 | currency:'CLP':'symbol':'1.0-0' }}</p>
        <button class="btn btn-outline-success mt-2 add-to-cart">
          <i class="fas fa-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>
  </div>

  <!-- Flecha derecha -->
  <button class="carousel-arrow right-arrow" (click)="scrollCarousel('right')">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>





<!-- Pie de página -->
<footer class="footer mt-5 py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <!-- Información de contacto -->
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> Valle del Elqui 1974, Santiago</li>
                    <li><i class="fas fa-phone"></i> +56 225647675</li>
                    <li><i class="fas fa-envelope"></i> 
                        <a href="mailto:{{ email }}">{{ email }}</a>
                    </li>
                </ul>
            </div>
            <!-- Enlaces -->
            <div class="col-md-4">
                <h5>Enlaces Útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-white">Inicio</a></li>
                    <li><a href="alimentos.html" class="text-white">Alimentos</a></li>
                    <li><a href="juguetes.html" class="text-white">Juguetes</a></li>
                    <li><a href="accesorios.html" class="text-white">Accesorios</a></li>
                    <li><a href="contacto.html" class="text-white">Contacto</a></li>
                </ul>
            </div>
            <!-- Redes sociales -->
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/tu-pagina-de-facebook" class="text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.instagram.com/tu-pagina-de-instagram" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://twitter.com/tu-pagina-de-twitter" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p>&copy; 2024 Venta de Alimentos El Panda. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>